<div class="bg-transparent fixed bg-gradient-to-b from-black/50 to-transparent flex md:hidden w-screen" >
    <button mat-icon-button class="example-icon ml-auto"  aria-label="Example icon-button with menu icon" (click)="isSidebarOpen = !isSidebarOpen">
      <mat-icon>menu</mat-icon>
    </button>
    </div>
    
    <aside class="sidebar md:hidden" [class.open]="isSidebarOpen" [class.closing]="!isSidebarOpen">
        <nav class="nav z-999">
            <ul class="z-999">
                <li  routerLinkActive="active" *ngFor="let item of menu" [id]="item.id" [routerLink]="item.redirect"><a >{{item.name}}</a></li>
            </ul>
            <ul class="z-999" >
                <li  (click)="downloadCv()" matTooltip="Download CV"><a >Download CV</a></li>
            </ul>
            <ul class="z-999" *ngIf="isLogged">
                <li  id="profile" routerLink="/dashboard/profile"><a >Profile</a></li>
            </ul>
            <ul class="z-999" *ngIf="isLogged">
                <li  routerLink="/dashboard"  (click)="onLogout()"><a >Log Out</a></li>
            </ul>
            <ul class="z-999" *ngIf="!isLogged">
                <li routerLinkActive="active" routerLink="/login" ><a >Log In</a></li>
            </ul>
            

        </nav>
    </aside>
    