<footer
 class="text-white bg-gray-900 p-7  w-full flex flex-wrap justify-between lg:flex-row sm:flex-col sm:items-center bottom-0">

  <section class="my-auto text-center sm:my-4">
    <p class="sm:text-2xl lg:text-base">&copy; | 2023 Lautaro Nahuel Santillán</p>
  </section>
  <section class="flex content-center flex-wrap sm:my-4">
    <div >
      <ul >
        <li>
          <a href="https://www.linkedin.com/in/lautaronsantillan/" target="_blank">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="fa fa-linkedin"></span>
          </a>
        </li>
        <li>
          <a href="https://github.com/LautaroNSantillan" target="_blank">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="fa-brands fa-github-alt"></span>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="fa-brands fa-youtube"></span>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="mt-5 sm:mt-5 lg:my-auto mx-4 sm:border-t-1 sm:border-white border-t-2 border-solid border-white lg:border-none">
    <ol class="sm:text-2xl lg:text-base flex sm:flex lg:block ">
      <li class="sm:px-4 lg:mx-0  px-4 border-r-2 border-solid border-white lg:border-none">
        <a routerLink="/dashboard" >
          Home
        </a>
      </li>
      <li class=" lg:mx-0  sm:px-4 px-4 ">
        <a routerLink="/dashboard/mock-users">
          Mock Users
        </a>
      </li>
      <li *ngIf="isLogged" class=" lg:px-0  sm:px-4 px-4 border-l-2 border-solid border-white lg:border-none">
        <a routerLink="/dashboard/profile">
          Profile
        </a>
      </li>
    </ol>
  </section>
</footer>