<mat-toolbar class="fixed bg-transparent top-0 left-0 right-0 bg-gradient-to-b from-black/50 to-transparent md:hidden z-50">

    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" class="mx-2" *ngFor="let item of menu" [routerLink]="item.redirect" > {{item.name}} </button>
    <button mat-raised-button color="primary" class="mx-2" *ngIf="isLogged" routerLink="/dashboard/profile" > Profile </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon mx-2" aria-label="Example icon-button with heart icon" (click)="downloadCv()" matTooltip="Download CV">
      <mat-icon  >contact_page</mat-icon>
    </button>
    <button mat-icon-button class="example-icon mx-2" aria-label="Example icon-button with share icon" routerLink="/dashboard" *ngIf="isLogged" (click)="onLogout()">
      <mat-icon>logout</mat-icon>
    </button>
    <button mat-icon-button class="example-icon mx-2" aria-label="Example icon-button with share icon" routerLink="/login" *ngIf="!isLogged">
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>
