<button mat-icon-button class="float-right" matDialogClose><mat-icon>close</mat-icon></button>
<mat-dialog-content>
  <form novalidate>
    <div class="flex flex-col justify-center items-center form__group">
    <div>
      <input type="text" class="form__input" name="skillName" placeholder="Skill Name" [(ngModel)]="skillName" id="skillName" />
      <label for="skillName" class="form__label">Skill Name</label>
    </div>
    <div>
      <input type="number" class="form__input h-auto box-border" name="skillPer" placeholder="Skill Percentage (250 character maximun)" [(ngModel)]="skillPer" id="skillPer" />
      <label for="skillPer" class="form__label">Skill Percentage</label>
    </div>
    <div class="mt-5">
      <label class=" drop-container ">
        <input type="file" name="img" placeholder="Image" [(ngModel)]="webUser.img" (change)="uploadImage($event)"
          accept=".jpg, .jpeg, .png">
      </label>
      <p class="form__label">Profile Image</p>
      <img *ngIf="imageService.imgURL" [src]="imageService.imgURL" alt="" class="w-64 mx-auto">
    </div>
    <button class="button" matDialogClose (click)="onCreate()">CREATE</button>
  </div>
  </form>
    <!-- <form (ngSubmit)="onCreate()" novalidate [formGroup]="newSkillForm">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field>
                <input matInput formControlName="skillName" placeholder="Skill Name">
              </mat-form-field>              
          <mat-form-field>
            <input matInput placeholder="Skill Percentage" formControlName="skillPercentage">
          </mat-form-field>
        </div>
        <div>
          <label>
              Image
              <input type="file" name="img" placeholder="Image" formControlName="imgURL" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png" >
          </label>
          <img *ngIf="imageService.imgURL" [src]="imageService.imgURL" alt="" class="w-64">
      </div>
        <button mat-raised-button color="accent">Accent</button>
      </form> -->
</mat-dialog-content>
