<section>
    <form (ngSubmit)="onCreate()" novalidate [formGroup]="newEduForm">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field>
                <input matInput formControlName="eduName" placeholder="Education Name">
              </mat-form-field>              
          <mat-form-field>
            <input matInput placeholder="Education Description" formControlName="eduDescription">
          </mat-form-field>
        </div>
        <div>
          <label>
              Image
              <input type="file" name="img" placeholder="Image" formControlName="imgURL" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png" >
          </label>
          <img *ngIf="imageService.imgURL" [src]="imageService.imgURL" alt="" class="w-64">
      </div>
        <button mat-raised-button color="accent">Accent</button>
      </form>
</section>

