<div class="container mx-auto h-screen">
    
        
            <div class="mx-auto my-auto w-max h-full w-full flex self-center">
                <div class="h-full flex flex-col justify-center">
                <h1>
                    <p class="font-abril lg:text-9xl md:text-7xl text-6xl py-4">Hello World,</p>
                    
                    <span class="grid grid-cols-3 md:gap-2">
                    <p class="font-abril lg:text-7xl md:text-6xl text-5xl pb-4 col-span-2 md:col-span-1 lg:col-span-1 lg:gap-8"><i class="text-white">Lautaro</i> </p>
                    <p class="font-abril lg:text-7xl md:text-6xl text-5xl pb-4 col-span-3 md:col-span-1 lg:col-span-1 lg:gap-8"><i class="text-white">Nahuel</i></p>
                    <p class="font-abril lg:text-7xl md:text-6xl text-5xl pb-4 col-span-3 lg:col-span-1 lg:gap-8"><i class="text-white">Santillán</i></p>
                    </span>

                    <p class="font-abril lg:text-7xl md:text-6xl text-5xl pb-4 col-span-3">is the name.</p>          
                </h1>
                <p class="lg:text-3xl md:text-2xl text-xl"> Born in 2001</p>
                <p class="lg:text-3xl md:text-2xl text-xl pb-4 border-b-2 border-black"> <b>Fullstack, all stacks programmer</b> <i> wanna be</i></p>
            </div>
        </div>
   
</div>
