<button mat-icon-button class="float-right" matDialogClose><mat-icon>close</mat-icon></button>
<mat-dialog-content *ngIf="expToMod">
  <form novalidate>
    <div class="flex flex-col justify-center items-center form__group">
      <div>
        <input type="text" class="form__input" name="expName" placeholder="Experience Name" maxlength="250"
          [(ngModel)]="expToMod.expName" id="expName" />
        <label for="expName" class="form__label">Experience Name</label>
      </div>
      <div>
        <input type="text" class="form__input h-auto box-border" name="expDescription" placeholder="Experience Description (250 character maximun)" maxlength="250"
          [(ngModel)]="expToMod.expDescription" id="expDescription" />
        <label for="expDescription" class="form__label">Experience Description</label>
      </div>
      <div class="mt-5">
        <label class=" drop-container ">
          <input type="file" name="img" placeholder="Image" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
        </label>
        <p class="form__label">Experience Image</p>
        <img *ngIf="imageService.imgURL" [src]="imageService.imgURL" alt="" class="w-64 mx-auto">
      </div>
      <button class="button" matDialogClose (click)="onUpdate()">EDIT</button>
    </div>
  </form>
 
</mat-dialog-content>