<button mat-icon-button class="float-right" matDialogClose><mat-icon>close</mat-icon></button>
<mat-dialog-content class="pt-20" *ngIf="webUser">
    <form  novalidate #f="ngForm">
        <div  class="flex flex-col justify-center items-center form__group">
            <div class="mx-3">
                <input type="text" class="form__input" name="name" placeholder="Name" [(ngModel)]="webUser.name" id="name" />
                <label for="name" class="form__label">Name</label>
            </div>
           
            <div class="mx-3">
                <input type="text" class="form__input"  placeholder="Last Name" name="lastName" [(ngModel)]="webUser.lastName" id="lastname" />
                <label for="lastname" class="form__label">Last Name</label>
            </div>

            <div class="mx-3">
                <input type="text" class="form__input"  placeholder="About" name="about" [(ngModel)]="webUser.about" id="about" />
                <label for="about" class="form__label">About</label>
            </div>
            
            <div class="mx-3"> 
                <input type="text" class="form__input"  placeholder="Email" name="email" [(ngModel)]="webUser.email" id="email" />
                <label for="email" class="form__label">Email</label>
            </div>
            <div class="mt-5">
                <label class="drop-container ">
                    <input type="file" name="img" placeholder="Image" [(ngModel)]="webUser.img" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png" >
                </label>
                <p class="form__label">Profile Image</p> 
                <img *ngIf="imageService.imgURL" [src]="imageService.imgURL" alt="" class="w-64 mx-auto">
            </div>
        </div>
        <button class="button" matDialogClose (click)="onUpdate()">EDIT</button>
    </form>
</mat-dialog-content>
