$gradient-blk-beige: linear-gradient(
  60deg,
  hsl(249deg 90% 16%) 0%,
  hsl(243deg 75% 18%) 8%,
  hsl(238deg 67% 21%) 15%,
  hsl(234deg 66% 22%) 22%,
  hsl(235deg 53% 26%) 29%,
  hsl(237deg 32% 34%) 36%,
  hsl(237deg 20% 42%) 44%,
  hsl(236deg 12% 49%) 51%,
  hsl(236deg 10% 59%) 60%,
  hsl(237deg 9% 70%) 70%,
  hsl(237deg 8% 82%) 82%,
  hsl(0deg 0% 93%) 100%
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: $gradient-blk-beige;
  font-family: "Montserrat", sans-serif;
}

nav {min-height: 10vh;}
main { min-height: 70vh;}
footer {min-height: 20vh;}
ul,
ol,
a {
  list-style: none;
  text-decoration: none;
}

.navy-bg{
  background-color: #394867;
}
.greyish-blue-bg{
  background-color: #21243e;
}
.z-999{
  z-index: 999;
}
.inner-box-shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.mt-10vh{
  margin-top: 10vh!important;
}
.swal2-container.swal2-center>.swal2-popup {
  background-color: #1F255C;
  color: rgb(216, 223, 240)fff;
}

.swal2-title {
  color: rgb(216, 223, 240)!important;
}

.swal2-content {
  color: rgb(216, 223, 240);
}
.swal2-html-container{
  color: rgb(216, 223, 240)!important;
}

.swal2-confirm {
  background-color: #3085d6;
  color: #ffffff;
}

.swal2-cancel {
  background-color: #aaaaaa;
  color: #ffffff;
}

.swal2-icon.swal2-warning{
  border-color:#9932CC!important;
  color:#9932CC!important;
}

.swal2-icon.swal2-success .swal2-success-ring {
  border-color:#9932CC!important;
  color:#9932CC!important;
}

.swal2-icon.swal2-success{
  border-color:#9932CC!important;
  color:#9932CC!important;
}
.swal2-popup.swal2-toast{
  background-color: #9932CC!important;
  color:#9932CC!important;
}

.rainbow-underline {
  position: relative;
  text-decoration: none;
  color: inherit;
  z-index: 1;
}

.i-rainbow-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: .07em;
  height: .1em;
  width: 100%;
  background: linear-gradient(110deg,#ff5959,#29d0be,#6cb8ea,#e1f549, );
  z-index: -1;
  transition: height .25s cubic-bezier(.6,0,.4,1);
}
.i-rainbow-underline {
  position: relative;
  text-decoration: none;
  color: inherit;
  z-index: 1;
}

.rainbow-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: .07em;
  height: .1em;
  width: 100%;
  background: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff5959);
  z-index: -1;
  transition: height .25s cubic-bezier(.6,0,.4,1);
}

.dark-underline {
  position: relative;
  text-decoration: none;
  color: inherit;
  z-index: 1;
}

.dark-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: .07em;
  height: .1em;
  width: 100%;
  background: linear-gradient(110deg, #849fd3, #021816);
  z-index: -1;
  transition: height .25s cubic-bezier(.6,0,.4,1);
}


