$gradient-blk-beige: linear-gradient(
  60deg,
  hsl(249deg 90% 16%) 0%,
  hsl(243deg 75% 18%) 8%,
  hsl(238deg 67% 21%) 15%,
  hsl(234deg 66% 22%) 22%,
  hsl(235deg 53% 26%) 29%,
  hsl(237deg 32% 34%) 36%,
  hsl(237deg 20% 42%) 44%,
  hsl(236deg 12% 49%) 51%,
  hsl(236deg 10% 59%) 60%,
  hsl(237deg 9% 70%) 70%,
  hsl(237deg 8% 82%) 82%,
  hsl(0deg 0% 93%) 100%
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: $gradient-blk-beige;
  font-family: "Montserrat", sans-serif;
}

nav {min-height: 10vh;}
main { min-height: 70vh;}
footer {min-height: 20vh;}
ul,
ol,
a {
  list-style: none;
  text-decoration: none;
}
