<span class="w-full navy-bg block">
  <section class="container mx-auto">
    <h2 class="text-4xl py-3 pt-9 font-extrabold text-center i-rainbow-underline mb-5 text-pinkgray"> <span class="text-rockmet">></span>{{isProfile ? 'YOUR EXPERIENCE' : 'MY EXPERIENCE'}}</h2>
    <mat-dialog-actions>
      <button class="neu-button text-pinkgray" (click)="openCreate()" *ngIf="isLogged && isProfile">CREATE
        EXPERIENCE</button>
    </mat-dialog-actions>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-7 gap-y-5 mx-auto">
      <div class="col-span-1  mx-auto w-4/5 inner-box-shadow bg-indigo-300/25 p-2 rounded-md animated-bg"
        *ngFor="let exp of experience">
        <h3 class="underline font-extrabold text-emerald-950 lg:text-3xl sm:text-2xl"> {{exp.expName}} </h3>
        <span class="flex">
          <div class="w-3/5 mt-2 font-semibold ">
            <p class="w-3/5 mt-2 font-semibold lg:text-2xl sm:text-xl text-center relative z-50"> {{exp.expDescription}}
            </p>
          </div>
          <div class="w-2/5"> <img class="w-full relative w-full z-50"
              [src]="exp.imgURL ? exp.imgURL : '../../../../assets/images/no-image.jpg'" alt="">
          </div>
        </span>

        <div class="flex self-end z-50 w-full">
        <button (click)="openEdit(exp.id)" *ngIf="isLogged && isProfile" class="flex items-center justify-center z-50 delete-button mx-2" matTooltip="EDIT"><mat-icon class="text-md">edit</mat-icon></button>
        <button *ngIf="isLogged && isProfile" matTooltip="DELETE"
          (click)="openDeleteDialog(exp.id, exp.expName)" class="flex items-center justify-center z-50 delete-button">␡</button>
        </div>

        <div class='air air1'></div>
        <div class='air air2'></div>
        <div class='air air3'></div>
        <div class='air air4'></div>

      </div>
    </div>
  </section>
</span>