<section>

    <button mat-raised-button color="accent" routerLink="/dashboard/create-experience" *ngIf="isLogged">CREATE EXPERIENCE</button>

    <div class="flex flex-col">
        <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full">
                <thead class="bg-white border-b">
                  <tr>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Name
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Description
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left" *ngIf="isLogged">
                      Edit
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left" *ngIf="isLogged">
                      Delete
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="bg-gray-100 border-b" *ngFor="let exp of experience">
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      {{exp.expName}}
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                     {{exp.expDescription}}
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap" routerLink="/dashboard/edit-experience/{{exp.id}}" *ngIf="isLogged">
                        <button><mat-icon>edit</mat-icon></button>
                      </td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap" *ngIf="isLogged" (click)="disable(exp.id)">
                        <button><mat-icon>delete</mat-icon></button>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</section>
